<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" class="wide wow-animation"  lang="en"
>
  <head>
    <title>Client</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"  th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800%7CPoppins:300,400,500,600,700%7CMuli:200,300,400,500">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<!--    -->
    <link rel="stylesheet" href="../static/css/fonts.css" th:href="@{/css/fonts.css}">
<!--    -->
    <link rel="stylesheet" type="text/css"  href="../static/css/style.css" th:href="@{/css/style.css}">
<!--   -->
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"></div>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"> <a class="brand" th:href="@{/index}"><img th:src="@{/images/logo-default-399x82.png}"  alt="" width="199" height="41"/></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item "><a class="rd-nav-link" th:href="@{/index}">Home</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/clientSearch}" >Client</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/contractSearch}">Contract</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link"  th:href="@{servise}">Servise</a>
                  </li>
                </ul>
                <div class="rd-navbar-tel">
                  <p>Телефон</p><a href="tel:#">+380 67 656 53 15</a>
                </div>
              </div>
              <div class="rd-navbar-element"><a class="button button-sm button-default-outline button-winona" th:href="@{/logout}">logout</a>
              </div>
              <div class="rd-navbar-dummy"></div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Our Solutions-->
      <section class="section section-lg bg-gray-100 text-center" id="solutions">


        <div class="container" >

          <div class="col-lg-4 ">
            <div class="form-button">
              <a class="button button-block button-primary button-winona" th:href="@{/clientAdd}" >Add</a>
            </div>
          </div>

          <h3 class="wow fadeIn" >Поиск клиентов</h3>
              <form  method="get" th:action="@{/clientSearch}">
                <div class="form-signin">
                  <div class="form-wrap">
                  <input class="form-input text-center"  type="text" th:name="filter" placeholder="EDRPOW" >
                 </div>




                  <div class="form-button">
                    <button class="button button-block button-primary button-winona" type="submit">Search</button>
                  </div>
                </div>
<p>

</p>
                <table class="table table-hover table-border-wrap" >
                  <thead>
                  <tr th:if="${filter == null}" >
                    <td colspan="2"> нет доступных клиентов
                    </td>
                  <tr >
                    <th class="btn-primary"> LegalForm</th>
                    <th class="btn-primary"> Name</th>
                    <th class="btn-primary"> EDRPOY</th>
                    <th class="btn-primary"> DateOfReg</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr class="btn-lg " th:each="client : ${clients}">

                    <td ><span th:text="${client.getClient().getOrgForm().getShortName()}"> </span></td>
                    <td ><span th:text="${client.getShortName()}"> Test1 </span></td>
                    <td><span th:text="${client.getClient().getEDRPOW()}"> 123 </span></td>
                    <td><span th:text="${client.getClient().getDataStart()}">  </span></td>
                  </tr>
                  </tr>
                  </tbody>
                </table>

              </form>
        </div>
      </section>

      <!-- Counters-->
      <footer class="section footer-classic">
        <div class="footer-classic-main">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-sm-7 col-lg-3 col-xl-2"><a class="brand" th:href="@{/index.html}"><img th:src="@{/images/logo-default-399x82.png}" alt="" width="199" height="41"/></a>
                <p><span style="max-width: 250px;">Our agency provides quality digital marketing services.</span></p><a class="button button-sm button-default-outline button-winona" th:href="@{#}">Get in Touch</a>
              </div>
              <div class="col-sm-5 col-lg-3 col-xl-2">
                <h4 class="footer-classic-title">About</h4>
                <ul class="list footer-classic-list">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Press and media</a></li>
                </ul>
              </div>
              <div class="col-sm-7 col-lg-5 col-xl-3">
                <h4 class="footer-classic-title">Quick Links</h4>
                <ul class="list footer-classic-list footer-classic-list_2-cols">
                  <li><a href="#">Sign Up</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Services</a></li>
                </ul>
              </div>
              <div class="col-sm-5 col-lg-9 col-xl-2">
                <h4 class="footer-classic-title">Contact Us</h4>
                <div class="row row-20 row-sm-35">
                  <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                    <div class="row row-10 text-default">
                      <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                      <div class="col-lg-6 col-xl-12"><a class="big" href="tel:#">+1-853-234-65</a></div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-right text-sm-left">
                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script th:src="@{/js/core.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>



    </div>

  </body>
</html>