<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Client</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">


</head>
<body>
<div class="container">
    <div class="form-signin">
        <div class="btn btn-lg btn-block">Clients</div>
    </div>

    <form class="form-signin">

    <a class="btn btn-lg btn-primary btn-block" href="clientFilter.html" th:href="@{/clientfilter}">Seach</a>
    <a class="btn btn-lg btn-primary btn-block" href="clientSave.html" th:href="@{/clientsave}">Add</a>
    <a class="btn btn-lg btn-primary btn-block" href="index.html"  th:href="@{/index}">Home</a>

    </form>

</div>
</body>
</html>