<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <div class="form-signin">
        <div class="btn btn-lg btn-block">Contract</div>
    </div>

<div class="btn-block">
    <footer th:fragment="footer">
        <a class="btn btn-lg btn-primary " href="contractFilter.html" th:href="@{/contractfilter}">Seach</a>
        <a class="btn btn-lg btn-primary " href="contractSave.html" th:href="@{/contractsave}">Add</a>
        <a class="btn btn-lg btn-primary " href="index.html" th:href="@{/index}">Home</a>
        <button class=" btn btn-lg btn-primary" type="submit" th:action="@{/logout}">Exit</button>
    </footer>
</div>
<div class="container">
    <form  method="post" th:action="@{/contractsave}">
              <form  method="post" th:action="@{/contractsave}">
            <div class="form-signin">
                <h2 class="form-signin-heading">Добавить новый контракт</h2>
            </div>
            <div class="form-signin">
                <input class="btn btn-lg  btn-block" th:name="numberOfContract"placeholder="Номер договора">
                <input class="btn btn-lg  btn-block" th:name="DateOfStart" placeholder="Начало работы"type="date">
                <input class="btn btn-lg  btn-block" th:name="DateOfEnd" placeholder="Срок действия"type="date">
<!--                 <input class="btn btn-lg  btn-block" th:name="client" placeholder="client" type="">-->

                <form method="get" th:action="@{/contactsave}">
                <select id="client" name="client" class="btn btn-lg  btn-block"  >
                    <div th:each ="client :${clients}">
                        <option  value="client" th:text="${client.getEDRPOW()} " ></option>
                    </div>
                </select>

                </form>

                <button class="btn btn-lg btn-primary btn-block" >Add</button>

            </div>

        </form>

    </form>
</div>
</div>

</body>
</html>